body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: teal;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

nav.pager {
  flex-wrap: wrap;
  justify-content: flex-start;
}


nav a {
  color: white;
  padding: 1rem;
}

nav a.selected {
  border: solid 1px white;
}

main {
  padding: 3rem;
}

